.blue {
    border-bottom: 5px solid blue;
    margin-top: 15px;
    outline: none;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}

.wrp {
    color: white;
}