.link {
    text-decoration: none;
    color: #7af;
    margin: 10px;
}

.link:hover {
    color: #c9f;
}

.active {
    color: #5ff;
}

.block {
    width: 500px;
    height: 25px;
    margin: 10px;
    color: #99ff99;
    /*border: solid 2px #99ff99;*/

    display: inline-block;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;

    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}


/*a.block {*/
/*    display: inline-block;*/
/*    color: #99ff99;*/
/*    text-decoration: none;*/
/*    padding: .5em 2em;*/
/*    outline: none;*/
/*    border-width: 2px 0;*/
/*    border-style: solid none;*/
/*    border-color: #FDBE33 #000 #D77206;*/
/*    border-radius: 6px;*/
/*    background: linear-gradient(#F3AE0F, #E38916) #E38916;*/
/*    transition: 0.2s;*/
/*}*/
.block:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.block:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

.header {
    display: flex;
    width: 200px;
    transition-duration: 500ms;
    transform: translate(-190px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}